@font-face { font-family: "Montserrat"; src: url('Montserrat-Regular.tff'); } 
@font-face { font-family: "Montserrat"; src: url('Montserrat-Bold.ttf'); font-weight: normal; } 
@font-face { font-family: "Montserrat"; src: url('Montserrat-Italic.ttf'); font-weight: italic; } 
@font-face { font-family: "Montserrat"; src: url('Montserrat-BoldItalic.ttf'); font-weight: lighter; font-style: italic; } 

body {
	font-family: "Montserrat";
	background-color: white;
}
  
h1 { 
	font-size: 20px;
}

h2 {
  font-size: 15px;
}

h1, h2 {
	text-align: center;
	color: #2e6dff;
	margin: 25px;
}
  
input { 
	margin-left: 5px; 
	border-color: black; 
	border-width: 0.4px; 
	background-color: white;
	margin-bottom: 0.3em;
	border-radius: 5px;
	}

.tooltip {
  cursor: help;
  text-decoration-style: dotted;
  text-decoration-thickness: 1px;
}
  
.userContainer {
	-webkit-box-shadow: 2px 14px 31px 2px rgba(126, 126, 126, 0.45);
-moz-box-shadow: 2px 14px 31px 2px rgba(126, 126, 126, 0.45);
box-shadow: 2px 14px 31px 2px rgba(126, 126, 126, 0.45);
	margin: 0 auto;
	width: 50%;
	border-radius: 5px;
	background-color: darkgray;
	border-style: solid;
	border-width: 1px;
	border-color: white;
	text-align: center;
	background-color: white;
  }
  
#story {
  padding: 2em;
  margin: auto;
  }
  
input[type="submit"] {
  padding: 1em;
  margin-top: 0.5em;
  background: #2e6dff;
  color: white;
  	-webkit-box-shadow: 2px 14px 31px 2px rgba(126, 126, 126, 0.45);
-moz-box-shadow: 2px 14px 31px 2px rgba(126, 126, 126, 0.45);
box-shadow: 2px 14px 31px 2px rgba(126, 126, 126, 0.45);
  transition: 0.2s;
}

input[type="submit"]:hover {
  padding: 1em;
  margin-top: 0.5em;
  background: #759fff;
  color: white;
-webkit-box-shadow: -1px -1px 9px -1px rgba(126, 126, 126, 0.45);
-moz-box-shadow: -1px -1px 9px -1px rgba(126, 126, 126, 0.45);
box-shadow: -1px -1px 9px -1px rgba(126, 126, 126, 0.45);
  transition: 0.2s;
}


#result {
 text-align: left;
 font-size: 13px;
 margin: 20px;
}

button {
	border: none;
}
