/* css by fps because im cool */

@font-face { font-family: "Montserrat"; src: url('Montserrat-Regular.tff'); } 
@font-face { font-family: "Montserrat"; src: url('Montserrat-Bold.ttf'); font-weight: bold; } 
@font-face { font-family: "Montserrat"; src: url('Montserrat-Italic.ttf'); font-weight: italic; } 
@font-face { font-family: "Montserrat"; src: url('Montserrat-BoldItalic.ttf'); font-weight: bold; font-style: italic; } 

body {
	font-family: "Montserrat";
	background-color: gray;
}
  
h1 { text-align: center; color: white; }
  
input { 
	margin-left: 5px; 
	border-style: solid; 
	border-color: black; 
	border-width: 0.4px; 
	background-color: white;
	margin-bottom: 1px;
	}

.tooltip {
  cursor: help;
  text-decoration-style: dotted;
  text-decoration-thickness: 1px;
}
  
.stuff {
	margin: 0 auto;
	width: 50%;
	background-color: darkgray;
	border-style: solid;
	border-width: 1px;
	border-color: white;
	text-align: center;
  }