@font-face { font-family: "Montserrat"; src: url('Montserrat-Regular.tff'); } 
@font-face { font-family: "Montserrat"; src: url('Montserrat-Bold.ttf'); font-weight: normal; } 
@font-face { font-family: "Montserrat"; src: url('Montserrat-Italic.ttf'); font-weight: italic; } 
@font-face { font-family: "Montserrat"; src: url('Montserrat-BoldItalic.ttf'); font-weight: lighter; font-style: italic; } 

body {
	font-family: "Montserrat";
	background-color: white;
}
  
h1 { 
	font-size: 20px;
}

h2 {
  font-size: 15px;
}

h1, h2 {
	text-align: center;
	color: #2e6dff;
	margin: 25px;
}
  
input { 
	margin-left: 5px; 
	border-color: black; 
	border-width: 0.4px; 
	background-color: white;
	margin-bottom: 0.3em;
	border-radius: 5px;
	padding: 1em;
	}

.tooltip {
  cursor: help;
  text-decoration-style: dotted;
  text-decoration-thickness: 1px;
}
  
.userContainer {
	-webkit-box-shadow: 2px 14px 31px 2px rgba(126, 126, 126, 0.45);
-moz-box-shadow: 2px 14px 31px 2px rgba(126, 126, 126, 0.45);
box-shadow: 2px 14px 31px 2px rgba(126, 126, 126, 0.45);
	margin: 0 auto;
	width: 50%;
	border-radius: 5px;
	background-color: white;
	border-style: solid;
	border-width: 1px;
	border-color: white;
	text-align: center;
  }
  
#story {
  padding: 2em;
  margin: auto;
  }
  
input[type="submit"], button {
  padding: 1em;
  margin-top: 0.5em;
  background: #2e6dff;
  color: white;
  box-shadow: 2px 14px 31px 2px rgba(126, 126, 126, 0.45);
  transition: 0.2s;
}

input[type="submit"]:hover {
  background: #759fff;
  color: inherit;
  transition: 0.2s;
}
  
input[type="submit"]:hover, button:hover {
    cursor: pointer;
    box-shadow: -1px -1px 9px -1px rgba(189, 189, 189, 0.45);
}


#result {
 text-align: left;
 font-size: 13px;
 margin: 20px;
}

button {
	border: none;
}

#footer {
 display: flex;
 align-items: center;
 justify-content: center;
}

/*@media (prefers-color-scheme: light) {*/
/*  .userContainer {*/
/*	  background-color: white;*/
/*	  border-color: white;*/
/*  }*/
  
/*  input[type="submit"] {*/
/*    color: white; */
/*    box-shadow: 2px 14px 31px 2px rgba(126, 126, 126, 0.45);*/
/*  }*/
  
/*  input[type="submit"]:hover {*/
/*    box-shadow: -1px -1px 9px -1px rgba(126, 126, 126, 0.45);*/
/*  }*/
  
/*  body {*/
/*    background-color: white;*/
/*    color: black;*/
/*  }*/
/*}*/

@media (prefers-color-scheme: dark) {
  .userContainer {
	  background-color: #303030;
	  border-color: #303030;
    box-shadow: 2px 14px 31px 2px rgba(46, 46, 46, 0.45);
  }
  
  input {
    background: #4a4a4a;
    border: none;
    color: white;
    padding: 1em;
  }
  
  input[type="submit"], button {
    padding: 1em;
    margin-top: 0.5em;
    color: white; 
    box-shadow: 0 2px 0 0 white;
    background: #658ba3;
    transition: 0.2s;
  }
  
  input[type="submit"]:hover {
    color: black;
    background: #7dbce3;
    transition: 0.2s;
    box-shadow: none;
  }
  
  input[type="submit"]:hover, button:hover {
    cursor: pointer;
    box-shadow: none;
  }
  
  button:hover {
    color: black; 
    background: #a0a0a0;
  }
  
  h1, h2 {
    color: #7dbce3;
  }
  
  button {
    background: #4a4a4a;
    color: white;
  }
  
  body {
    background-color: #1c1c1c;
    color: white;
  }
}
